:root {
  font-size: 18px;
  --blanco: #FFFFFF;
  --gray: #A5A3A5;
}

.hero{
  height: 350px;
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

body {
  background: #251F24;
  color: var(--blanco);
}

header {
  font-size: 14px;
  color: var(--gray);
}

header a {
  text-decoration: none;
  color: var(--gray);
  font-family: 'Nunito', sans-serif;
}

header a:hover {
  color: var(--blanco);
}

nav details summary {
  font-weight: bold;
  color: var(--blanco);
}

hr {
  color: #61616120;
  border: 1px solid rgba(97, 97, 97, 0.2);
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 2em;
}

.section-content  {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

h4 {
  color: var(--blanco);
  font-weight: bold;
}

pre {
  background: #3A3539;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}